<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.my.shop.web.admin.dao.TbContentCategoryDao">
    <sql id="tbContentCategoryColumns">
        a.id,
        a.parent_id as parentId,
        a.name,
        a.status,
        a.sort_order as sortOrder,
        a.is_parent as isParent,
        a.created,
        a.updated
    </sql>
    <select id="selectAll" resultType="TbContentCategory">
        SELECT
          <include refid="tbContentCategoryColumns"></include>
        FROM
          tb_content_category as a
        ORDER BY
          a.parent_id ASC,
          a.sort_order ASC,
          a.is_parent DESC
    </select>
    <select id="selectByPid" resultType="TbContentCategory">
        SELECT
        <include refid="tbContentCategoryColumns"></include>
        FROM
        tb_content_category as a
        where a.parent_id=#{parentId}
    </select>
</mapper>